:root {
    --toboo-selected: #47adf1;
    --toboo-unselected: #c9ced3;
    --toboo-bg-alt: #f6f8f9;
    --toboo-title: #444851;
    --toboo-text: #53575f;
    --toboo-editorial: #45abea;
    --toboo-q1goals: #9c72e4;
    --toboo-recruiting: #64c0a9;
    --toboo-mobile: #f29e33;
    --toboo-website: #d863a1;
    --toboo-sales: #b0c926;
    --toboo-crosscol: #ea463b;
    --toboo-tickcol: #6bc3ae;
}

* {
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {
    padding: 1rem 1.5rem 1rem 1.5rem;
    background-color: white;
}

#logo {
    vertical-align: middle;
}

#site_title {
    display: inline;
    vertical-align: middle;
}

body {
    background-color: var(--toboo-bg-alt);
    font-size: 13px;
    font-weight: bold;
}


main {
    font-family: unset;
    margin: 2.5rem 10.5rem 0rem 10.5rem;
    background-color: white;
    border-radius: 0.25rem;
    color: var(--toboo-title);
}

#button_sect {
    padding: 1rem 3.25rem;
    border-radius: 0.25rem;
}

#ntask {
    background-color: var(--toboo-selected);
    color: white;
    border-radius: 0.25rem;
    padding: 6px 8px;
    border: 2px solid var(--toboo-selected);
    margin-right: 0.25rem;
}

#add_section {
    color: var(--toboo-unselected);
    border: 2px solid var(--toboo-unselected);
    border-radius: 0.25rem;
    padding: 6px 8px;
}

.module_spacing {
    background-color: var(--toboo-bg-alt);
    height: 3px;
}

#task_sect {
    background-color: white;
    border-radius: 0.25rem;
    padding: 1rem 3.25rem;
}

.drop_down_arrow {
    font-size: 25px;
    vertical-align: top;
}

.list_text {
    line-height: 2rem;
}

.editorial {
    background-color: var(--toboo-editorial);
    color: white;
    font-size: 9px;
    border-radius: 1rem;
    padding: 7px 9px;
    margin-right: 0.25rem;
}

.tick {
    font-size: 10px;
    color: var(--toboo-tickcol);
    padding: 1px 2.5px;
    border: 2px solid var(--toboo-tickcol);
    border-radius: 100%;
}

.cross {
    font-size: 10px;
    color: var(--toboo-crosscol);
    padding: 1px 2.5px;
    border: 2px solid var(--toboo-crosscol);
    border-radius: 100%;
}

.fix_4_block {
    padding-top: 1rem;
}

.q1goals {
    background-color: var(--toboo-q1goals);
    color: white;
    font-size: 9px;
    border-radius: 1rem;
    padding: 7px 9px;
    margin-right: 0.25rem;
}

.recruit {
    background-color: var(--toboo-recruiting);
    color: white;
    font-size: 9px;
    border-radius: 1rem;
    padding: 7px 9px;
    margin-right: 0.25rem;
}

.mobile {
    background-color: var(--toboo-mobile);
    color: white;
    font-size: 9px;
    border-radius: 1rem;
    padding: 7px 9px;
    margin-right: 0.25rem;
}

.toboo_tag_website {
    background-color: var(--toboo-website);
    color: white;
    font-size: 9px;
    border-radius: 1rem;
    padding: 7px 9px;
    margin-right: 0.25rem;
}

.sales {
    background-color: var(--toboo-sales);
    color: white;
    font-size: 9px;
    border-radius: 1rem;
    padding: 7px 9px;
    margin-right: 0.25rem;
}