:root {
    --toboo-selected: #47adf1;
    --toboo-unselected: #c9ced3;
    --toboo-bg-alt: #f6f8f9;
    --toboo-title: #444851;
    --toboo-text: #53575f;
    --toboo-editorial: #45abea;
    --toboo-q1goals: #9c72e4;
    --toboo-recruiting: #64c0a9;
    --toboo-mobile: #64c0a9;
    --toboo-website: #d863a1;
    --toboo-sales: #b0c926;
    --toboo-crosscol: #ea463b;
    --toboo-tickcol: #6bc3ae;
}

* {
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {
    padding: 1rem 1.5rem 1rem 1.5rem;
    background-color: white;
}

#logo {
    vertical-align: middle;
}

#site_title {
    display: inline;
    vertical-align: middle;
}

body {
    background-color: var(--toboo-bg-alt);
    font-size: 13px;
    font-weight: bold;
}


main {
    font-family: unset;
    margin: 2.5rem 10.5rem 0rem 10.5rem;
    background-color: white;
}

#button_sect {
    padding: 1rem 3.25rem;
    margin: auto;
    border-radius: 700rem;
}

#ntask {
    background-color: var(--toboo-selected);
    color: white;
    border-radius: 0.25rem;
    padding: 7px 9px;
    margin-right: 0.25rem;
}

#add_section {
    color: var(--toboo-unselected);
    border: 2px solid var(--toboo-unselected);
    border-radius: 0.25rem;
    padding: 6px 8px;
}